*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
**/build/
assets/node_modules/
assets/package.json
assets/package-lock.json
assets/render-banner.js
assets/banner.svg
